* {
    box-sizing: border-box;
    font-family: miller-headline, serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    margin: 0;
    background-color: #f2f2f2;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");

}

p {
    margin: 10px;
    font-size: 1.2rem;
}

h3 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin-right: 50%;
}

.hero {
    width: 100%;
    height: 75vh;
    background-image: url(/images/pexels-lyovtravels-levon-13415559.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: #f2f2f2;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.500);
    text-align: center;
    width: 30%;
}

img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #446164;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");    
}

nav h3 {
    color: #f2f2f2;
    font-size: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    padding: 10%;
    font-size: 2rem;
    color: #f2f2f2;
}

nav ul a {
    color: #f2f2f2;
    text-decoration: none;
}


.group01 {
    width: 100%;
    background-color: #022026;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
}

.group01 img {
    width: 31.6%;
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}

.item01 {
    margin-left: 1%;
}

.item02 {
    margin-left: 1%;
}

.item03 {
    margin-left: 1%;
    margin-right: 1%;
}

.item04 {
    width: 50%;
    margin: 1%;
    color: #f2f2f2;
    background-color: #304648;
    background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");
    
}

.item05 {
    width: 47%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}

.item04,
.item05 {
    flex-direction: row;
}

.item06 {
    width: 50%;
    margin-bottom: 1%;
    margin-right: 1%;
    color: #f2f2f2;
    background-color: #325033;
    background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");
}
.item06 h3 {
    text-align: center;
}
.item07{
    width: 47%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
}

.item04 > h3 {
    text-align: center;
}

.item08 {
    width: 49%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #446164;
    color: #f2f2f2;
}

.item09 {
    width: 48%;
    margin: 1%;
}


.item10 {
    background-color: #022026;
    color: white;
}
.item10 p{
    text-align: center;
}
.item10 img{
width: 33%;
margin-bottom: 1%;
}

.item11 {
    background-color: #022026;
}

.item12,
.item13,
.item14 {
    width: 30%;
}
.item15{
    display: flex;
    /* justify-content: space-evenly; */
} 

.item16,
.item17, 
.item18{
    color: #f2f2f2;
    width: 32%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.item16 {
    background-color: #446164;
    margin-left: 1%;
}

.item17 {
    background-color: #446164;
    margin-left: 1%;
}

.item18 {
    background-color: #446164;
    margin-left: 1%;
}

.item15 p {
    padding: 2%;
}

footer {
    background-color: #1A2607;
    color: #f2f2f2;
    width: 100%;
    height: 20vh;
}

footer nav {
    background-color: #1A2607;
    color: #f2f2f2;
}

@media  (max-width: 680px) {
    p {
        font-size: 15px;
    }

   .group01 img {
    width: 31.3%;
   }

   nav h3 {
    font-size: 1.2rem;
   }

   .logo {
    margin-left: 1%;
   }

   nav ul li {
    font-size: 1.2rem;
    padding-left: 1%;
    
   }

   ul {
    margin-right: 5%;
   }

  .item10 img {
    width: 32.8%;
   }

   h3 {
    font-size: 1.4rem;
   }
}
