* {
    box-sizing: border-box;
    font-family: miller-headline, serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    margin: 0;
}

p {
    margin: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin-right: 50%;
}

.hero {
    width: 100%;
    height: 75vh;
    background-image: url(/images/pexels-lyovtravels-levon-13415559.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: #f2f2f2;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.500);
    text-align: center;
    width: 30%;
}

img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #61888C;
}

nav h3 {
    color: #f2f2f2;
    font-size: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    padding: 10%;
    font-size: 2rem;
    color: #f2f2f2;
}

nav ul a {
    color: #f2f2f2;
    text-decoration: none;
}


.group01 {
    width: 100%;
    background-color: #022026;
}

.group01 img {
    width: 31.6%;
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}

.item01 {
    margin-left: 1%;
}

.item02 {
    margin-left: 1%;
}

.item03 {
    margin-left: 1%;
    margin-right: 1%;
}

.item04 {
    width: 50%;
    margin: 1%;
    color: #f2f2f2;
    background-color: #304648;
    
}

.item05 {
    width: 47%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}

.item04,
.item05 {
    flex-direction: row;
}

.item06 {
    width: 50%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    color: #f2f2f2;
    background-color: #325033;
}
.item06 h3 {
    text-align: center;
}
.item07{
    width: 47%;
    margin-bottom: 1%;
    margin-right: 1%;
}

.item04 > h3 {
    text-align: center;
}
footer {
    background-color: #1A2607;
    color: #f2f2f2;
    width: 100%;
}

footer nav {
    background-color: #1A2607;
    color: #f2f2f2;
}